<html>
	<body style="background-color:lavender;">

		<h1 style="text-align:center;margin:100px;font-size:300%">About me</h1>

		<center><img src="https://pbs.twimg.com/media/DRDy3EiWAAEV778?format=jpg&name=4096x4096" width="600" height="500"></center>
		

 	<p style="text-align:center;color:lightpink;margin:120px;font-size:200%">I collect plushies and wanted to create a website that highlighted a few that I have. This is just a small hobby of mine and it is a great way to organize my thoughts on them so if others want, they can read about them. 
		</p>
</body>
</html>
