<body style="background-color:lavender;">


<h1 style="text-align:center;">Review of Meowchi Plushies</h1>

<div style="text-align:center">
<a href="/about">About Me</a>
</div>

<h2 style="background-color:DarkSlateBlue;">

<section>
<section style="text-align:Center;">
	<details open>
		<summary style="color:plum;">Taro Meowchi</summary>
		  
		          <div>
				        <img src="https://cdn.media.amplience.net/i/hottopic/13467812_av1?$productMainDesktop$" width="400" height="500">
					      <p>A plum colored cat plushie that has a small smile on its face. The color is beautiful but it is not a rare plushie. Even so, you can't go wrong with a classic color and simple features.</p>

			  </div>
						    </details>
						   
 <details>
						          <summary style="color:green;">Zombie Meowchi</summary>
								      <div>
									            <img src="https://cdn.media.amplience.net/s/hottopic/16098119_hi?$productMainDesktop$" width="400" height="500">
										          <p>A green plushie that has black stitching over it along with exposed bone and blood. This is a limited edition Halloween plushie and even though it has some gore to it, it is as adorable as the others and its rarity is valuable.</p>
											      </div>
											        </details>
												<details>		
													<summary style="color:MediumAquaMarine;">Mini Meowchi</summary>
													         <div>
															        <img src="https://cdn.shopify.com/s/files/1/0103/8482/products/Mint_Meowchi_Keychain_Plush_1024x1024@2x.jpg?v=1596042635"/>
																      <p>A mini, mint plushie that has a keychain attached to it. This is a small and transportable plushie that is perfect to hang on purses or backpacks. The cost is a bit high for the small product, but the convenience is worth it</p>
																      </details>
</section>
