<h1 style="text-align:center;"</h1>
<body style="text-align:center;"</body>
<body style ="background-color:Lavender;"</body>

<h1>Review of Meowchi Plushies</h1>
<h2>About Me</h2>
<p style="text-align:center;"</p>
<h2 style="background-color:MediumPurple;"</h2>

	

<section>
	  <details open>
		  <summary style="color:plum;"><ins>Taro Meowchi</ins></summary>
		  
		          <div>
				        <img src="https://www.google.com/search?q=taro+meowchi&rlz=1C1CHBF_enUS855US855&source=lnms&tbm=isch&sa=X&ved=2ahUKEwi5zpiPhe36AhUlJX0KHZgvDwcQ_AUoAXoECAEQAw&biw=960&bih=936&dpr=1#imgrc=vK3k-jYBCh5lSM1~" />
					      <p>A plum colored cat plushie that has a small smile on its face. The color is beautiful but it is not a rare plushie.</p>

			  </div>
						    </details>
						      <details>
						          <summary style="color:green;">Zombie Meowchi</summary>
								      <div>
									            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/344846/_freud.jpg" />
										          <p>A green plushie that has black stitching over it along with exposed bone and blood. This is a limited edition Halloween plushie and even though it has some gore to it, it is as adorable as the others.</p>
											      </div>
											        </details>
												<details>		
													<summary style="color:MediumAquaMarine;">Mini Meowchi</summary>
													         <div>
															        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/344846/_alfred.jpg" />
																      <p>A mini, mint plushie that has a keychain attached to it. This is a small and transportable plushie that is perfect to hand on purses or backpacks.</p>
																          <
																	    </details>
</section>
</body>

